<h1> Notice: <%= @notice.error_message %> </h1>
<h3> Project (API_key): <%= @notice.api_key %> </h3>

<hr />

<p> <b>Request string</b>:
   <span style="color: #D0D0FF"><%= simple_format @notice.request %></span>
</p>

<h2> Backtrace </h2>

<p> <%= simple_format @notice.backtrace %> </p>

<h2> Session Info </h2>

<p> <%= simple_format @notice.session %> </p>

<h2> Environment Variables </h2>

<p> <%= simple_format @notice.environment %> </p>
